{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "quoteProps": "preserve"
}
